<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="fluid-container" >
            <h3 style="font-family: Arial, Helvetica, sans-serif;">Contact us</h3>
            <hr>
            <div style="font-family: Arial, Helvetica, sans-serif;">
              <div> <label style="font-weight: bold;">Address</label> : Kanathur redyy kuppam Chennai,603112, India</div>
              <div>  <label style="font-weight: bold;">Email</label> : umer.ali0986@gmail.com</div>
              <div> <label style="font-weight: bold;">Phone No</label> : +251986328367</div>
                <div> <label style="font-weight: bold;">Mobile No</label> : 6385148204</div>
                    <div> <label style="font-weight: bold;">Website</label> : www.phoenix2shop.com</div>
            
        </div>
        </div>
    </div>
</div>