<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="fluid-container">
            <div class="alert alert-warning">
                <div align="center" style="font-family: Arial, Helvetica, sans-serif;">
                <h3>Thank you for placing order !!!</h3>
                <p>Your order has been recieved.</p>
                <span>Your order tracking number is </span><br>
                <h4>{{trackingNumber}}</h4>
            </div>
           
            <p routerLink="/products" style="color: cornflowerblue;">Back to product list.</p>
            </div>
        </div>
    </div>
</div>